.periodic-table{
    font-family: sans-serif;
}
.periodic-table td{
    border-radius: 5px;

    text-align: center;
    height: 70px;
    width: 55px;
    background-color: rgb(170, 170, 170);
}
#spacing{
    opacity: 0;
}

#red{background-color: #e04545;}
#ylw{background-color: #ebe70f;}
#blu{background-color: #35aace;}
#grn{background-color: #55c251;}

.periodic-table span{
    font-weight: 700;
    font-size: larger;
    line-height: 0%;

    transition: font-size .5s ease;
}
.periodic-table #num{
    font-size: small;
}
.periodic-table td:hover{
    font-size: x-large;
}