html{height: 100%;}

body{
    overflow-x: hidden;
    margin: 0px;
    background-color:beige ;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.game_content{
    height: 100%;
    display: flex;
    padding: 10px 20px;
    grid-template-columns: 3;
    grid-template-rows: 1;
}

.geese_tab, .statistics_tab, .misc_tabs{
    background-color: #ffcb87;
    padding: 0px 20px;
}

.geese_tab{
    width: 20%;
    min-width: 100px;
    max-width: 250px;
}
.misc_tabs{
    min-width: 100px;
    overflow: auto;    
    margin: 0px 5px;
    flex: 1;
}

.statistics_tab{
    margin-left: auto;
    width: 20%;
    min-width: 80px;
    max-width: 200px;
}
