html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.custom-div{
    background-color: blueviolet;
}





/*Real shit starts here =>*/
.main-body{
    overflow-x: hidden;
    color: white;
    text-shadow: 1px 1px 2px rgb(110, 12, 134);

    margin: 0;
    background-image: linear-gradient(135deg, #a10a51, #000000, #7410a7);
}


.main-container{
    background-repeat:repeatd;
    padding-top: 1px;
    margin-top: -1px;
    position: relative;
    height: 100vh;
    margin: 0 auto;
    min-width: 700px;
    width: 75%;
     background-color: rgba(0, 0, 0, 0.767); 
}



.info-container{
    padding: 1%;
    border-radius: 25px;
    font-weight: 800;
    position: absolute;
    width: 75vw;
    min-width: 700px;
    background-image: linear-gradient(12deg, #411a50, #5c199b);

    margin-left: -9vw;
    margin-top: 15px;

    transition: all 500ms ease-out;
}

.info-container:hover{
    margin-left: -4vw;
}
.info-container:hover > span{
    color: rgb(221, 184, 207);
}

.info-container span{
    font-size: xx-large;
    transition: all 1s ease-out;
}

.info-container div{
    border: 4px solid red;
    height: 100%;
    margin: 0 auto;
}

.info-container img{
    margin: 3%;
    
    min-width: 128px;
    min-height: 128px;
    height: 20vw;
    width: 20vw;
    max-width: 256px;
    max-height: 256px;

    float: left;
    border-radius: 50%;
}


.lessons-title{
    padding: 3%;
    font-size: xx-large;
    border-radius: 25px;
    font-weight: 800;
    position: absolute;
    width: 75vw;
    min-width: 700px;
    background-image: linear-gradient(12deg, #411a50, #5c199b);

    margin-left: 5vw;
    margin-top: 500px;
    transition: all 500ms ease-out;
}

.lessons-container{
    padding: 3%;
    border-radius: 25px;
    width: 75vw;
    position: absolute;
    min-width: 700px;
    background-image: linear-gradient(12deg, #411a50, #5c199b);

    margin-left: -5vw;
    margin-top: 700px;
    transition: all 500ms ease-out;
}

.lessons-container div{
    display: inline-flex;
    height: 50px;
    width: 100px;
    border: 4px solid;
    border-radius: 12px;
}


footer{
    bottom: 0;
    background-image: linear-gradient(12deg, #250633, #290e2c, #250213);
    padding: 4%;
}

footer a{
    text-decoration: none;
    color: aliceblue;
}

footer a:hover{
    text-decoration: underline;
}
