.custom-list{
    background-color: azure;
    list-style-type: none;
    padding-left: 3%;
}

.custom-list li{
    background-image: url(angcat.jpg);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    margin-bottom: 20px;
    font-size: 150%;
}

ul li img{
    
    height: auto;
    width: 15px;
    margin: 30;

}





/*
tag = 10 priority points (pp)
class 100 pp
id = 1000 pp
Conclusion: id has the highest pp
*/