.QuizApp {
	text-align: center;

	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	overflow-y: scroll;
	overflow-x: visible;
	height: 100vh;
	width: 800px;
	
	padding: 20px 10px;
	margin-top: 20px;

	box-shadow: 0px 0px 10px #00000050;
	background-color: beige;
	border-radius: 10px;
}
.sticky-element 
{
	top: 0px;
   	position: sticky;
   	height: 0px;
   	overflow: visible; 
	margin-bottom: -20px; 
}
.counter:hover{
	opacity: 1;
}
.counter{
	user-select: none;
	transition: all 0.3s ease-in-out;
	opacity: 0.3;
	position: relative; 
   	top: 80vh; 
	left: -5px;
	font-size: 32px;
	font-weight: 700;
	width: 75px;
	height: 75px;
	box-shadow: 0px 0px 10px #00000050;
	line-height: 75px;
	background-color: rgb(157, 209, 60);
	text-align: center;
	border-radius: 50px;
}
.App-logo {
	height: 40vmin;
	pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}