.container{

    background-color: blueviolet;
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
}
#text-container{
    background-color: aquamarine;
}
#other-container{
    background-color:burlywood;
}


.container div{
    padding: 1%;
    box-sizing: content-box;
}

@media screen and (max-width: 390px) {
    #text-container{
        background-color: blue;
    }
    #other-container{
        background-color: yellow;
    }
}

/*------------------------Real stuff starts here---------------------------*/

body{
    overflow-x: hidden; 
    font-family: Arial, Helvetica, sans-serif;
}

.adapting-container{
    background-color: #5A5A5A;
    display:flex;
    flex: 1;
    padding: 1%;
}

#block{
    width: 100%;
    color: rgb(206, 206, 206);
    padding: .5%;
}
.text-container{
    margin-top: 10px;
}

.adapting-container img{
    margin: auto;
    display: block;
    width: 100%;
    height:auto;
}

.menu{
    float: left;
}
.menu a{
    display: inline-block;

    height: 50px;
    width: 50px;

    text-decoration: none;
    background-color: #838383;
    color: rgb(206, 206, 206);

    display: flex;
    justify-content: center; 
    align-items: center; 
}

.menu a:hover{
    font-size: large;
    background-color: #7c7c7c;
}

#tab-selected{
    background-color: #5A5A5A;
    font-size: x-large;
}

