html{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    position: relative;

    display: table;
    color:#ddcce6;
}

body::after {
    content: '';
    display: block;
    height: 100px; 
}

.header-container{
    height: 50px;
    background-color: #452f47;
}

#logo{
    height:50px
}


.navbar-container{

    height: 50px;
    background-color: #241925;
}
.navbar a{
    display: block;
    background-color: #452f47;

    height: calc(100% - 5px * 2);
    width: 50px;
    margin: 0;  
    padding: 5px 10px;

    text-align: center;
    float: left;
    color: #ddcce6;
    text-decoration: none;

    transition: all .5s ease;
}
#cart{
    float: right;
}

.navbar a:hover{
    background-color: #643d68;
    float: left;
    color: #ddcce6;
    text-decoration: none;
}


.content-container{
    background-image: url(images/Record-hp-GQ-7Jun17_istock_b.png);
    background-color: #bb4ec785;
    background-blend-mode: multiply;
    background-attachment: fixed;

    display: table-row;
    height:100%;

}
.content{
    box-shadow: 5px 20px 20px 20px #130f1173;

    margin: auto;
    color: #241925;
    height:100%;
    background-color: #e1d8e2;
}



.image-container{
    height: 256px;
    width: 256px;

    position: relative;
}
.image-container img{
    height: 198px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.general-info{
    display: flex;
}
.info-text{
    margin-left:auto;
    margin-right: 40px;
}
.info-text span{
    display: block;
    margin: 15px;
}
#title{
    font-size: x-large;
    font-weight: 700;
}

.to-cart{
    float:right;
    width: fit-content;
    height: fit-content;
    background-color: #452f47;
    padding: 1px 1px;
    font-size: medium;
    
    color: #cdc0d4;
    border-radius: 10px;

    cursor: pointer;
    text-shadow: 5px 5px 10px #241925;

    transition: all .5s ease-in-out;
}
.to-cart:hover{
    background-color: #573c5a;
    color:#a46caa
}


.description-head{
    display: flex;
    align-items: center;
    margin: auto;
}

.description-head img{
    height: 64px;
    border: 3px solid ;
    border-radius: 100%;
}
.description-head span{
    margin-left: 15px;
    display: block;
}
#user-name{
    font-weight: 700;
    margin: 0;
    display: inline;
}

.description{
    border-radius: 30px;

    margin: 20px 40px;
    background-color: #bcabc5;
    padding: 5px 20px;
}

.description p{
    line-height: 160%;
}





.content, .footer, .navbar, .header{
    margin: auto;

    min-width: 550px;
    width: 80vw;
    height:100%;

}

.footer-container{
    position: absolute;
  bottom: 0;
    width:100%;
    height: 100px;
    background-color: #241925;
}

.footer{
  
    display: flex;
}

.footer div{
    padding: 10px;
    width: calc(100% / 3);  
    display: inline-block;
    vertical-align: top; 
}

.footer span{
    cursor: pointer;
    line-height: 1.5;
}

