html{
    height: 100%;;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}
h1{
    text-align: center;
}

.navbar{
    position: fixed;
        z-index: 100; 
        bottom: 0; 
        left: 0;
        width: 100%;
        height: 25px;
        padding: 1%;
        background-color: white;
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
}
.left-menu a, .right-menu a{
    margin-right: 10px;

}
.right-menu a
{
    margin-left: auto;
}
/*--------------
/*-------------------------------*/

.pepper-container{
    border: 2px solid;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction:row;
    
}
.pepper-container div{
    border: 4px solid rgb(197, 197, 197);
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}
.pepper-container div p{
    text-align: center;
    font-size: larger;
    font-weight: 900;
}
/*------------------------------------------------------*/
body{
    margin: 0;
    height: 100%;
    width: 100%;
}

.vertical-menu{

    padding: 0px;
    list-style: none;
    
    background-color: rgb(119, 119, 119);
    white-space: nowrap;
    max-width: 50px;
    overflow: hidden;
    transition: max-width 0.5s ease-in-out;
}
.vertical-menu li div span{
    margin-left: 50px;
}
.vertical-menu li{
    color: beige;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: left center;
}

.vertical-menu li label{
    cursor: pointer;
}


.vertical-menu li div{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

.vertical-menu img{
    width: 50px;
}


.vertical-menu-toggle{
    display: none;
}
.vertical-menu-toggle:checked ~ .vertical-menu{
    max-width: 170px;
}
.vertical-menu li:hover{
    color: rgb(206, 206, 199);
    background-color:  rgb(102, 102, 102);
}


#edit{background-image: url(VerMenuIcons/edit.png);}
#favorite{background-image: url(VerMenuIcons/favorites.png);}
#history{background-image: url(VerMenuIcons/history.png);}
#security{background-image: url(VerMenuIcons/security.png);}
#settings{background-image: url(VerMenuIcons/settings.png);}


/*-------------------------------------------------------------*/
.page-body{
    overflow: hidden;
    margin: 0;
    padding: 0%;
    color:aliceblue;
    background-color: #c4c4ec;
}

.header{
    background-color: #383885;

    padding: 20px 0px 20px 10px;
    margin-bottom: 15px;
    width: calc(100%);
}

.menu{
    height: 20px;
    position: relative;
    display: inline-block;
    background-color: #282881;
    padding: 10px 0px 10px 10px;
    width: 100%;

}

.menu-content{
    overflow: hidden;
    height: 0;
    min-width: 160px;
    position: absolute;
    padding: 0px;
    z-index: 1;
    transition: height .5s, background-color .5s;
}

.menu-content li{
    list-style: none;
    margin-bottom: 5px;
}
.menu:hover .menu-content{ 
    background-color: #282881;
    height: 100px;
    display: block;
}


.content{
    background-color: #8c8cbd;
    display: flex;
}
.side-left{ 
    float: left;
}
.side-left div{
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 200px;
    text-align: center;

    background-color: #383885;
}


.main-content{
    background-color: #282881;
    margin: 10px 0px;
    padding: 10px 30px;
    width:100%
}

.main-content div{
    margin-top: 10px;
    height: 140px;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #0c0c66;
}


.side-right{
    float: right;
    margin: 10px;
    padding: 5px;
    width: 150px;
    height: 400px;
    text-align: center;

    background-color: #383885;
}

.footer{
    padding: 15px 0px 0px 15px;
    position:absolute;
    bottom: 0px;

    height: 80px;
    width: 100%;

    background-color: #282881;
}
/*-------------------------------------------------------------*/
.footer-container{
    position:absolute;
    bottom: 0px;

    width: 100%;

    background-color: #8f0b72;

    color: #e0ccf0;
}
.content-container{
    display: flex;
}

.content-container div{
    width: calc(100% / 3);  
    display: inline-block;
    vertical-align: top; 
}

.text-container span{
    cursor: pointer;
    text-shadow: 3px 3px 5px #4e1f47;
    margin: 100px;
    line-height: 1.5;

    transition: box-shadow .5s;

}

.text-container span:hover{
    text-decoration: underline;
    text-shadow: 3px 6px 1px #4e1f47;
}


.icon-container div{
    width: fit-content;
    display: flex;
    margin:auto
}

.icon-container .icon{
    cursor: pointer;


    box-shadow:  5px 5px 5px  #4e1f47;

    border-radius: 7px;
    margin: 5px;
    height: 50px;
    width: 50px;

    background-size: 50px;
    background-repeat: no-repeat;

    transition: box-shadow .5s;
}

.icon:hover{
    box-shadow:  5px 5px  #571a63;
}
#facebook{
    background-image: url(icons/fb_gray.png);
}
#instagram{
    background-image: url(icons/insta_gray.png);
}
#youtube{
    background-image: url(icons/youtube_gray.png);
}

#facebook:hover{
    background-image: url(icons/fb.png);
}
#instagram:hover{
    background-image: url(icons/insta.png);
}#youtube:hover{
    background-image: url(icons/youtube.png);
}

.copyright-text{
    text-align: center;
    margin-bottom: 15px;
}